header {
  height: 58px;
  top: 0px;
  position: sticky;
  display: flex;
  border-bottom: 1px solid #ffcc66;
  background-color: white;
  z-index: 7;
}

.headerContainerCenter {
  height: 54px;
  position: fixed;
  width: 100%;
  top: 4px;
  align-items: center;
  display: flex;
  z-index: 1;
}

.nav {
  z-index: 7;
}

.headerContainerCenter img{
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

.hamburgerButtonContainer {
  display: none;
  width: 58px;
  height: 58px;
  z-index: 7;
}

.hamburgerButton {
  width: 30px;
  height: 30px;
  background-color: #666;
  border-radius: 5px;
  cursor: pointer;
}

.hamburgerButton:hover {
  background-color: #888;
}

.headerContainerLeft {
  display: flex;
}

.headerContainerRight {
  display: flex;
  width: 100%;
}

.headerContainerRight a {
  margin-left: auto;
  margin-right: 0px;
}

header a {
  font-family: sans-serif;
  font-weight: lighter;
  padding: 20px 30px;
  color: Black;
  text-decoration: none;
}

header a:hover {
  background-color: #FFCC66;
}

@media only screen and (max-width: 600px) {
  header {
    height: 58px;
  }

  .hamburgerButtonContainer {

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerContainerCenter {
    width: 100%;
    height: 58px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .headerContainerCenter img {
    margin-left: auto;
    margin-right: 10px;
    align-items: center;
  }

  .headerContainerLeft {
    top: 59px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .headerContainerLeft a{
    width: 100%;
  }

  .headerContainerRight {
    top: 174px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .headerContainerRight a {
    width: 100%;
  }
  
  .headerTablet {
    display: none;
  }

  .headerDesktop {
    display: none;
  }

  .nav {
    display: none;
  }
}

@media only screen and (max-width: 415px) {
  .headerContainerCenter img {
    width: 70vw;
    margin-right: 10px;
  }
}
