.confirmationContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.thankYouMessage {
  border-bottom: 1px dashed #ccc;
}

.thankYouMessage h2 {
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
}

.confirmationHeader {
  border-bottom: 1px dashed #ccc;
}

.confirmationHeader h3 {
  font-family: sans-serif;
  border-bottom: 1px dashed #ccc;
  padding: 5px;
  margin: 0px;
}

.confirmationHeader p {
  margin: 5px;
}

.confirmationItem table {
  width: 100%;
}

th {
  font-family: sans-serif;
  text-align: left;
  padding: 5px 5px;
}

td {
  padding: 5px 0px;
  text-align: left;
}

tr {
  width: 100%;
}

.tdName {
  text-indent: 20px;
  width: 70%;
}

.tdQuantity {
  width: 100px;
}

.tdPrice {
  width: 100px;
}

.total {
  padding-left: 5px;
  border-top: 1px dashed #ccc;
  font-family: sans-serif;
  text-align: left;
  font-weight: bold;
  padding-right: 20px;
}

.totalValue {
  border-top: 1px dashed #ccc;
}

@media only screen and (max-width: 450px) {
  .confirmationContainer {
    width: 100%;
  }
}
